<div class="card  text-white bg-success mb-4" style="max-width: 18rem;">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{ user.photoUrl || '../../../assets/user.png'}}" alt="{{ user.knownAs }}"/>
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-success" 
        [routerLink]="['/members/', user.id]"><i class="fa fa-user"></i></button>
      <li class="list-inline-item"><button class="btn btn-success" (click) = "sendLike(user.id)">
        <i class="fa fa-heart"></i></button>  
      <li class="list-inline-item"><button class="btn btn-success" [routerLink]="['/members/', user.id]" 
        [queryParams]='{tab: 2}'  ><i class="fa fa-envelope"></i></button>  
      </li>
    </ul>
  </div>

  <div class="card-body p-1">
    <p class="card-text">You get fresh, hot pizza delivered to your door 
      in 30 minutes or less—or it's free</p>   
      <ul class="list-group ">
        <li class="list-group-item list-group-item-info p-0">
        <i class="fa fa-address-card mr-2"></i>{{user.username}},{{user.knownAs}}</li>
        <li class="list-group-item list-group-item-info p-0">
          <i class="fa fa-industry mr-2 "></i>{{user.industry}}</li>
        <li class="list-group-item list-group-item-info p-0">
          <i class="fa fa-flag mr-2 "></i>{{user.country}}</li>
        <li class="list-group-item list-group-item-info p-0">
          <i class="fa fa-map-marker mr-2 "></i>{{user.city}}</li>
      </ul>
  </div>
</div>



